@model CreateWarehouseProductDto

@{
    ViewData["Title"] = "Create";
}

<div class="card card-custom" style="direction: rtl; text-align: right;">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">
                إدخال بيانات المنتج
            </h3>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" class="form"   enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">المنتج</label>
                        <div class="card-custom" style="direction:ltr;">
                            <select asp-for="ProductId" class="form-control selectpicker" asp-items="ViewBag.ProductId" data-live-search="true"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">المخزن</label>
                        <div class="card-custom" style="direction:ltr;">
                            <select asp-for="WarehouseId" class="form-control selectpicker" asp-items="ViewBag.WarehouseId" data-live-search="true"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">الكمية</label>
                        <input type="number" asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">المقاس</label>
                        <input  asp-for="Size" class="form-control" />
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">اللون</label>
                        <input  asp-for="Color" class="form-control" />
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">الصورة</label>
                        <input type="file" name="image" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">رجوع</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
