@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 10 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="ab">
<!--begin::Head-->
<head>
    <base href="../../../../">
    <meta charset="utf-8" />
    <title>عيادة | سيلينا لطب وجراجة الفم والأسنان</title>
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="assets/css/pages/login/classic/login-2.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="~/Images/coming soon2.png" />
    <style>
        td{
            text-align: center;
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" style="background-image: url(assets/media/bg/bg-10.jpg) " class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-2 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
            <!--begin::Aside-->
            <div class="login-aside order-2 order-lg-1 d-flex flex-column-fluid flex-lg-row-auto bgi-size-cover bgi-no-repeat p-7 p-lg-10">
                <!--begin: Aside Container-->
                <div class="d-flex flex-row-fluid flex-column justify-content-between">
                    <!--begin::Aside body-->
                    <div class="d-flex flex-column-fluid flex-column flex-center mt-5 mt-lg-0">
                        <a href="#" class="mb-15 text-center">
                            <img src="~/Images/fec70d38264541c982e351d4f657b6d9.png" class="max-h-75px" alt="" />
                        </a>
                        <!--begin::Signin-->
                        <div class="login-signin">
                            <div class="mb-20">
                                <h5 class="display-3 my-7">تسجيل الدخول</h5>
                                <div class="text-muted font-weight-bold">الرجاء إدخال البريد الالكتروني وكلمة السر للدخول </div>
                            </div>
                            <!--begin::Form-->
                            <form class="form" method="post" asp-page="Login">
                                <div class="form-group mb-5">
                                    <input asp-for="Input.Email" class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Email" autocomplete="off" />
                                </div>
                                <div class="form-group mb-5">
                                    <input asp-for="Input.Password" class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Password" />
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                                    <div class="checkbox-inline">
                                        <label class="checkbox m-0 text-muted">
                                            <input asp-for="Input.RememberMe" type="checkbox" name="remember" />
                                            <span></span>تذكرني
                                        </label>
                                    </div>
                                </div>
                                <button id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">دخول</button>
                            </form>
                            <!--end::Form-->

                        </div>
                        <!--end::Signin-->
                        <!--begin::Forgot-->
                        <div class="login-form login-forgot">
                            <div class="text-center mb-10 mb-lg-20">
                                <h3 class="">Forgotten Password ?</h3>
                                <p class="text-muted font-weight-bold">Enter your email to reset your password</p>
                            </div>
                            <!--begin::Form-->
                            <form class="form" novalidate="novalidate" id="kt_login_forgot_form">
                                <div class="form-group py-3 border-bottom mb-10">
                                    <input class="form-control h-auto border-0 px-0 placeholder-dark-75" type="email" placeholder="Email" name="email" autocomplete="off" />
                                </div>
                                <div class="form-group d-flex flex-wrap flex-center">
                                    <button id="kt_login_forgot_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Submit</button>
                                    <button id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Cancel</button>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Forgot-->
                    </div>
                    <!--end::Aside body-->
                    <!--begin: Aside footer for desktop-->
                    <div class="d-flex flex-column-auto justify-content-between mt-15">
                        <div class="text-dark-50 font-weight-bold order-2 order-sm-1 my-2">© @DateTime.Now.Year Dental Clinic</div>
                        <div class="d-flex order-1 order-sm-2 my-2">
                            <button type="button" class="btn btn-hover-light-warning" data-toggle="modal" data-target="#exampleModalLong"><i class="flaticon2-information"></i>تواصل مع المطور</button>
                        </div>
                    </div>
                    <!--end: Aside footer for desktop-->
                </div>
                <!--end: Aside Container-->
            </div>
            <!--begin::Aside-->
            <!--begin::Content-->
            <div class="order-1 order-lg-2 flex-column-auto flex-lg-row-fluid d-flex flex-column p-7" style="background-image: url(assets/media/bg/bg-4.jpg); ">
                <!--begin::Content body-->
                <div class="d-flex flex-column-fluid flex-lg-center">
                    <div class="d-flex flex-column justify-content-center">
                        <h3 class="display-3 font-weight-bold my-7 text-white">عيادة سيلينا لطب الفم والأسنان</h3>
                        <p class="font-weight-bold font-size-lg text-white opacity-80">
                            <table class="table">
                                <tr>
                                    <td colspan="2" width="160px">غزة - مفترق العائلات - عمارة سليم - الطابق الأول - فوق مطعم صالح الشوا</td>
                                </tr>
                                <tr>
                                    <td width="80px">0593401701</td>
                                    <td width="80px">رقم الجوال</td>
                                </tr>
                                <tr>
                                    <td width="80px">2862789</td>
                                    <td width="80px">رقم الهاتف</td>
                                </tr>
                                <tr>
                                    <td width="80px">00970593401701</td>
                                    <td width="80px">رقم الواتساب</td>
                                </tr>
                                <tr>
                                    <td width="80px">Selena Dental Clinic</td>
                                    <td width="80px">صفحة الفيس بوك</td>
                                </tr>
                                <tr>
                                    <td width="80px">SelenaDental</td>
                                    <td width="80px">صفحة انستقرام</td>
                                </tr>
                            </table>
                        </p>
                    </div>
                </div>
                <!--end::Content body-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->
    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="assets/js/pages/custom/login/login-general.js"></script>
    <!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>



<!-- Modal-->
<div class="card card-custom">
    <div class="modal fade" id="exampleModalLong" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">لا تتردد بالاتصال في حال وجود أي مشكلة</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    تم تطوير هذا البرنامج حسب رغبات المستخدمين ، وهو في تطوير دائم ومستمر حسب الحاجة ، في حال أردت اضافة أي خدمة او تطوير أي شيء داخل البرنامج ، الرجاء التواصل مع الأرقام االموجودة أسفل هذا الكلام ، وشكراً
                </div>
                <div class="modal-footer">
                    <p>للتواصل مع مطور البرنامج | علي رفيق أبو العطا </p>
                    <p><i class="flaticon-whatsapp"></i> جوال : 0594600244 | واتساب : 00972595268183 </p>
                </div>
            </div>
        </div>
    </div>
</div>