@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Techon Store</h1>
</div>
@*<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <textarea id="summernote"  class="form-control"></textarea>
        </div>
    </div>
</div>*@