@model CreateExpensesDto

@{
    ViewData["Title"] = "Create";
}

<div class="card card-custom" style="direction: rtl; text-align: right;">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">
                مصروف جديد
            </h3>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" class="form">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">الاسم</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">التصنيف</label>
                        <div class="card-custom" style="direction:ltr;">
                            <select asp-for="ExpensesCategoryId" class="form-control selectpicker" asp-items="ViewBag.ExpensesCategoryId" data-live-search="true"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">السعر</label>
                        <input id="Price" type="number" asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="control-label">تفاصيل</label>
                        <input asp-for="Details" class="form-control" />
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">رجوع</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
